<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{title}}</h1>
    <form method="post" action="/">
        <input type="text" name="number">
        <input type="submit">
    </form>
    {% if warning %}
        <div>
            {% for i in data %}
            <p style="background-color:red">
                Information {{i}}
            </p>
            {% endfor %}
        </div>
    {% else %}
    <div>
        {% for i in data %}
        <p style="background-color:lightblue">
            Information {{i}}
        </p>
        {% endfor %}
    </div>
    {% endif %}
    <p>{{message}}</p>
</body>

</html>