<!doctype html>
<html lang="en">
<head>
    <title> Index </title>
    <meta charset="utf-8">
    <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>{{title}}</h1>
    <p>{{message}}</p>
    <form method="post" action="/">
        <div>
            <input type="checkbox" name="check" id="ck1">
            <label for="ck1">checkbox</label>
        </div>
        <div>
            <input type="radio" name="radio" id="r1" value="A">
            <label for="r1">radio 1</label>
        </div>
        <div>
            <input type="radio" name="radio" id="r2" value="B">
            <label for="r2">radio 2</label>
        </div>
        <div>
            <select name="sel" multiple>
                <option>Orange</option>
                <option>Grape</option>
                <option>Pineapple</option>
            </select>
        </div>
        <div>
            <input type="submit">
        </div>
</body>
</html>