<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="style.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>
            <%=title %>
        </h1>
    </header>
    <div role="main">
        <%=content %>
            <form method="post" action="/other">
                <input type="text" name="msg" class="form-control">
                <input type="submit" value="click" class="btn btn-primary">
            </form>
    </div>
</body>

</html>